My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1EdYPF17uLCljzbakrQUPQk_8Y_dqKTM_BF6D5EeT8y4",
          "mode": "list",
          "cachedResultName": "Blog Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EdYPF17uLCljzbakrQUPQk_8Y_dqKTM_BF6D5EeT8y4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EdYPF17uLCljzbakrQUPQk_8Y_dqKTM_BF6D5EeT8y4/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "09da1eeb-9775-4616-a284-14fccbc63247",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "xRxHAhiZLs4Bu30B",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "388cfd3a-2df7-4b30-b868-18addca78c59",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "47CvDd4FENTFtiY9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert SEO content writer.\n\nTOPIC:\n{{$json[\"Topic\"]}}\n\nWrite a complete SEO blog article ONLY about the topic above.\n\nRequirements:\n- Use the exact topic in the H1 title\n- Minimum 1500 words\n- Use H2 and H3 headings\n- SEO optimized\n- No unrelated topics\n- Do not change the topic\n- Return only the article",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        0
      ],
      "id": "e5fbe4fc-5a01-40a1-a694-32c9ea60637e",
      "name": "Writer agent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EdYPF17uLCljzbakrQUPQk_8Y_dqKTM_BF6D5EeT8y4",
          "mode": "list",
          "cachedResultName": "Blog Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EdYPF17uLCljzbakrQUPQk_8Y_dqKTM_BF6D5EeT8y4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EdYPF17uLCljzbakrQUPQk_8Y_dqKTM_BF6D5EeT8y4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            " Status ": "Written",
            "Article": "={{ $('Writer agent').item.json.output }}",
            "ID": "={{$node[\"If\"].json[\"ID\"]}}",
            "SEO score": "={{ $json.output }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": " Status ",
              "displayName": " Status ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Brief",
              "displayName": " Brief",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SEO score",
              "displayName": "SEO score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fact Check",
              "displayName": "Fact Check",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Approval",
              "displayName": "Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Published URL",
              "displayName": "Published URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        0
      ],
      "id": "95fd9acc-eb91-43ce-8cac-fa1472506dc2",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RBfzYHRk12XR7ykl",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1dbb596-ad8c-47a7-9973-0a0bc6d2e090",
              "leftValue": "={{ $json[' Status '] }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        -160
      ],
      "id": "1643fd13-33f2-41cb-9747-c4b18f8a5d03",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an SEO expert.\n\nAnalyze this article:\n\n{{ $json.output }}\n\nGive:\n\n1. SEO Score (0-100)\n2. Strengths\n3. Weaknesses\n4. Suggested SEO improvements\n\nReturn in this format:\n\nSEO Score: X/100\n\nStrengths:\n- ...\n\nWeaknesses:\n- ...\n\nImprovements:\n- ...",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        0
      ],
      "id": "29b2e63b-6c7d-45f6-ba3c-0b719ffa7e0b",
      "name": "SEO agentt"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        432,
        224
      ],
      "id": "5f9d86b8-9a4e-477d-a778-dd4eecc0222b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "47CvDd4FENTFtiY9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://public-api.wordpress.com/rest/v1.1/sites/228981749/posts/new",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer N7OL0LvRBWM9*8Wc&ntkD8lp0dvMx0QfIeQW#q$S3nK6(YpoZnZL#)*sMSz^s^@*"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "= title",
              "value": "={{ $('If').item.json.Topic }}"
            },
            {
              "name": "content",
              "value": "={{ $('Markdown').item.json.data }}"
            },
            {
              "name": "status",
              "value": "draft"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        0
      ],
      "id": "8ecf0cc6-300f-41f1-8e67-def4fdfa0499",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $('Writer agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ],
      "id": "49ac9daf-cdd0-44c9-9fbd-0db170bf039d",
      "name": "Markdown"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EdYPF17uLCljzbakrQUPQk_8Y_dqKTM_BF6D5EeT8y4",
          "mode": "list",
          "cachedResultName": "Blog Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EdYPF17uLCljzbakrQUPQk_8Y_dqKTM_BF6D5EeT8y4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EdYPF17uLCljzbakrQUPQk_8Y_dqKTM_BF6D5EeT8y4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('If').item.json.ID }}",
            "Published URL": "={{ $json.URL }}",
            " Status ": "Published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Status ",
              "displayName": " Status ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Brief",
              "displayName": " Brief",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO score",
              "displayName": "SEO score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fact Check",
              "displayName": "Fact Check",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approval",
              "displayName": "Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Published URL",
              "displayName": "Published URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        0
      ],
      "id": "39b2ca93-1c80-4474-a24c-d3406edbb756",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RBfzYHRk12XR7ykl",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "shubhamkhanal593@gmail.com",
        "subject": "=Approval needed: {{ $('If').item.json.Topic }}",
        "message": "=New article is ready for review.\n\nTopic: {{ $('If').item.json.Topic }}\n\nSEO Report:\n{{ $('SEO agentt').item.json.output }}\n\nClick Approve to publish to WordPress, or Decline to skip.",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        0
      ],
      "id": "37546076-f591-439e-894f-b5c90fdcca1d",
      "name": "Send message and wait for response",
      "webhookId": "de4dd1e2-56dd-4c08-a888-17e82026066c",
      "credentials": {
        "gmailOAuth2": {
          "id": "KcwoVcLaXnJxAs16",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c612c0f2-bf1e-4dca-835d-9ceb23cbdd83",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "21bc1da5-e7e8-43f2-88e8-ad8821e51afd",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1536,
        0
      ],
      "id": "b47cac43-f814-46e3-823d-1da4789e805f",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Writer agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Writer agent": {
      "main": [
        [
          {
            "node": "SEO agentt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Writer agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO agentt": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "SEO agentt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7dbaccf5-b6ce-468a-8b9f-5e5407e20983",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1ec0fb35c51109a00aa507f67f19edd3b6309907c19fc154a855827bbc403be"
  },
  "nodeGroups": [],
  "id": "IhTvt0DOTz14PQAH",
  "tags": []
}