n8n-production-workflow.json
{
  "name": "Production Pipeline — Website Triggered",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-pipeline",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a0000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "production-run-pipeline"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert SEO content writer.\n\nTOPIC: {{ $('Webhook').first().json.body.topic }}\n\nWrite a complete SEO blog article ONLY about the topic above.\n\nRequirements:\n- Use the exact topic in the H1 title (markdown #)\n- Around 800-1000 words\n- Use H2 headings (##) and H3 subheadings (###) where needed\n- Include a compelling introduction and strong conclusion\n- SEO-optimized, clear, engaging\n- Return ONLY the article in markdown — no preamble, no explanation",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000002",
      "name": "Gemini Writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [280, 0]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000003",
      "name": "Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [280, 200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an SEO expert. Review the article below and return a JSON object with:\n- score (0-100, SEO quality score)\n- improvements (array of max 3 short improvement suggestions)\n- keywords (array of 5 main keywords detected)\n\nIMPORTANT: Return ONLY valid JSON, nothing else.\n\nARTICLE:\n{{ $json.output }}",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000004",
      "name": "SEO Analyzer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [560, 0]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000005",
      "name": "Gemini Flash SEO",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [560, 200]
    },
    {
      "parameters": {
        "jsCode": "const article = $('Gemini Writer').first().json.output;\nconst seoRaw = $input.first().json.output || '{}';\nconst topic = $('Webhook').first().json.body.topic;\n\nlet seo = { score: 0, improvements: [], keywords: [] };\ntry {\n  const match = seoRaw.match(/\\{[\\s\\S]*\\}/);\n  if (match) seo = JSON.parse(match[0]);\n} catch(e) {}\n\nconst titleMatch = article.match(/^#\\s+(.+)$/m);\nconst title = titleMatch ? titleMatch[1].trim() : topic;\nconst wordCount = article.trim().split(/\\s+/).length;\nconst id = 'art_' + Date.now();\n\nreturn [{ json: { article, title, topic, id, wordCount, seoScore: seo.score, seoKeywords: seo.keywords, seoImprovements: seo.improvements, createdAt: new Date().toISOString() } }];"
      },
      "id": "a0000001-0000-0000-0000-000000000006",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"article\": $json.article, \"title\": $json.title, \"id\": $json.id, \"status\": \"approval_pending\", \"wordCount\": $json.wordCount, \"seoScore\": $json.seoScore, \"seoKeywords\": $json.seoKeywords } }}",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "sendTo": "shubhamkhanal593@gmail.com",
        "subject": "=✍️ [APPROVE] {{ $('Format Article').first().json.title }}",
        "emailType": "html",
        "message": "=<html><body style=\"font-family:-apple-system,sans-serif;max-width:680px;margin:0 auto;padding:24px;color:#1a1a1a\">\n<div style=\"background:#f0fdf4;border:1px solid #bbf7d0;border-radius:10px;padding:20px 24px;margin-bottom:24px\">\n  <h2 style=\"margin:0 0 6px;color:#166534\">New Article Ready for Review</h2>\n  <p style=\"margin:0;color:#15803d;font-size:14px\">Generated by your AI pipeline — approve to publish to WordPress</p>\n</div>\n\n<table style=\"width:100%;border-collapse:collapse;margin-bottom:24px\">\n  <tr><td style=\"padding:8px 0;color:#6b7280;font-size:13px;width:120px\">Topic</td><td style=\"padding:8px 0;font-weight:600\">{{ $('Format Article').first().json.topic }}</td></tr>\n  <tr><td style=\"padding:8px 0;color:#6b7280;font-size:13px\">Word count</td><td style=\"padding:8px 0\">{{ $('Format Article').first().json.wordCount }} words</td></tr>\n  <tr><td style=\"padding:8px 0;color:#6b7280;font-size:13px\">SEO score</td><td style=\"padding:8px 0\">{{ $('Format Article').first().json.seoScore }}/100</td></tr>\n  <tr><td style=\"padding:8px 0;color:#6b7280;font-size:13px\">Generated</td><td style=\"padding:8px 0\">{{ $('Format Article').first().json.createdAt }}</td></tr>\n</table>\n\n<div style=\"text-align:center;margin:32px 0\">\n  <a href=\"{{ $execution.resumeUrl }}?action=approve\" style=\"display:inline-block;background:#16a34a;color:#fff;padding:14px 36px;border-radius:8px;text-decoration:none;font-weight:700;font-size:16px;margin-right:12px\">✅ Approve &amp; Publish</a>\n  <a href=\"{{ $execution.resumeUrl }}?action=decline\" style=\"display:inline-block;background:#dc2626;color:#fff;padding:14px 36px;border-radius:8px;text-decoration:none;font-weight:700;font-size:16px\">❌ Decline</a>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:28px 0\">\n\n<h3 style=\"color:#374151;margin-bottom:12px\">Article Draft</h3>\n<div style=\"background:#f9fafb;border:1px solid #e5e7eb;border-radius:8px;padding:24px;white-space:pre-wrap;font-family:Georgia,serif;line-height:1.75;font-size:15px\">{{ $('Format Article').first().json.article }}</div>\n\n</body></html>",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000008",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1360, 0]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000009",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1620, 0],
      "webhookId": "approval-wait"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cond-approve",
              "leftValue": "={{ $json.query.action }}",
              "rightValue": "approve",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a0000001-0000-0000-0000-000000000010",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://public-api.wordpress.com/wp/v2/sites/shubhamkhanal.wordpress.com/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"title\": $('Format Article').first().json.title, \"content\": $('Format Article').first().json.article, \"status\": \"publish\", \"format\": \"standard\" } }}",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000011",
      "name": "Publish to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2140, -120]
    },
    {
      "parameters": {
        "sendTo": "shubhamkhanal593@gmail.com",
        "subject": "=🎉 Published: {{ $('Format Article').first().json.title }}",
        "emailType": "html",
        "message": "=<html><body style=\"font-family:-apple-system,sans-serif;max-width:600px;margin:0 auto;padding:24px\">\n<h2 style=\"color:#16a34a\">Article Published!</h2>\n<p><strong>Title:</strong> {{ $('Format Article').first().json.title }}</p>\n<p><strong>Live URL:</strong> <a href=\"{{ $json.link }}\">{{ $json.link }}</a></p>\n<p style=\"color:#6b7280;font-size:13px\">Published via your AI content pipeline.</p>\n</body></html>",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000012",
      "name": "Notify Published",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2400, -120]
    },
    {
      "parameters": {
        "sendTo": "shubhamkhanal593@gmail.com",
        "subject": "=❌ Declined: {{ $('Format Article').first().json.title }}",
        "emailType": "html",
        "message": "=<html><body style=\"font-family:-apple-system,sans-serif;padding:24px\">\n<h3>Article Declined</h3>\n<p>The article \"{{ $('Format Article').first().json.title }}\" was declined and will not be published.</p>\n</body></html>",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000013",
      "name": "Notify Declined",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2140, 120]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Gemini Writer", "type": "main", "index": 0 }]]
    },
    "Gemini Flash": {
      "ai_languageModel": [[{ "node": "Gemini Writer", "type": "ai_languageModel", "index": 0 }]]
    },
    "Gemini Writer": {
      "main": [[{ "node": "SEO Analyzer", "type": "main", "index": 0 }]]
    },
    "Gemini Flash SEO": {
      "ai_languageModel": [[{ "node": "SEO Analyzer", "type": "ai_languageModel", "index": 0 }]]
    },
    "SEO Analyzer": {
      "main": [[{ "node": "Format Article", "type": "main", "index": 0 }]]
    },
    "Format Article": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Respond to Webhook": {
      "main": [[{ "node": "Send Approval Email", "type": "main", "index": 0 }]]
    },
    "Send Approval Email": {
      "main": [[{ "node": "Wait for Approval", "type": "main", "index": 0 }]]
    },
    "Wait for Approval": {
      "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]]
    },
    "Approved?": {
      "main": [
        [{ "node": "Publish to WordPress", "type": "main", "index": 0 }],
        [{ "node": "Notify Declined", "type": "main", "index": 0 }]
      ]
    },
    "Publish to WordPress": {
      "main": [[{ "node": "Notify Published", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
